{
  "plugins": [
    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "style": true // or 'css'
      },
      {
        "libraryName": "view-design",
        "libraryDirectory": "src/components"
      }
    ],
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
