// layout
$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 800px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// my colors
$homeBgColor = #e6ecf0
$frontColor = #ffffff
$btnBgColor = #B53471
$btnHvColor = #34495e
$footColor = #7f8c8d
$projBgColor = #fafbfc
