.ivu-tabs-nav{
    width: calc(100% - 0.8em);
    display: flex;
}
.ivu-tabs-tab {
  flex: 1;
  text-align: center;
}

.ivu-radio-wrapper {
  font-size: 1em;
  font-family: "Comic Sans MS", cursive, "Jost";
}
.ivu-divider-horizontal {
  margin: 12px 0;
  width: calc(100% - 0.5em);
  min-width: calc(100% - 0.5em);
}
.ivu-select,
.ivu-input-wrapper {
  flex: 1;
}