@import './cursor'

#app
  font-family: 'Comic Sans MS', cursive, 'Jost';
  cursor customPointer()


table
  margin 0 !important
  display table
th, td, tr
  border none !important

video
  width 100%
  margin 1rem auto
  max-width 800px

img 
  background-color #fff
  cursor customPointer(pointer)

::selection 
  color #fff
  background #3eaf7c!important
  
pre
  cursor customPointer(text)

a 
  cursor customPointer(pointer)!important