.sidebar
  font-size 16px
  z-index 999

[class^="language-"] {
  width: 100%;
  margin: 1rem auto!important;
}

.icon.outbound{
  color:#89a9a4!important;
}

.viewer-wraper 
  position relative
  min-height 450px
  max-width  900px
  background-color rgb(40, 44, 52)
  margin 1rem auto

.image-viewer-box 
  display flex 
  flex-wrap wrap
  padding-bottom 0.5rem
  img 
    width 32%
    box-sizing border-box
    margin-left 1%
    margin-top 0.5rem